.heroSection {
  height: 80vh; /* Full viewport height */
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10.2rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.heroTitle {
  font-size: var(--header-one);
  color: #fff;
  text-align: center;
  z-index: 2;
  line-height: var(--spacing-large);
}

.heroSubtitle {
  font-size: 1.8rem;
  color: #ddd;
  text-align: center;
  margin-top: 1rem;
  z-index: 2;
}

.cont {
    height: auto;
}

.btnCont {
  margin-top: 3rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


@media (min-width:300px) and  (max-width: 768px) {
    .heroTitle {
        font-size: var(--header-three);
        line-height: 4.5rem;
    }

    .heroSubtitle {
        font-size: var(--base-font-size);
    }
}