.container, .containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  place-content: center;
}

.outside {
    height: auto;
    padding: 10rem;
    background-color: var(--primary-color);
}

.program {
  font-size: var(--header-one);
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.containers {
    background-color: var(--tertiary-color);
}

.text, .textp {
  color: var(--secondary-color);
  font-size: var(--base-font-size);
}

.textp {
    margin-bottom: 3rem;
}

.header, .headers {
  color: var(--secondary-color);
  font-size: var(--header-one);
  line-height: var(--spacing-large);
  margin: 3rem 0rem;
}

.headers {
    margin: -0.2rem 0rem;
    color: #fff;
}

.texts {
  font-size: var(--base-big-font);
  color: var(--grey);
  line-height: var(--spacing-small);
}

.imageWrapper, .imageWrappers {
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center;
  background-repeat: no-repeat;
  height: 60rem;
  width: 100%;
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.cont {
    height: auto;
}

.btnDiv {
  margin-top: 4rem;
}

.explore {
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.3rem;
}

.contt {
  margin-bottom: 4rem;
}

.div {
  border: 1px solid var(--secondary-color);
  /* margin-bottom: 3rem; */
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

}

@media (min-width: 300px) and (max-width: 767px) {
  .outside {
    padding: 10rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .container, .containers {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header, .headers{
    font-size: var(--header-two);
    line-height: var(--spacing-large);
  }

  .imageWrapper, .imageWrappers {
    height: 45rem;
  }

  .program {
    font-size: var(--header-two);
  }
}
